/* Body */
body {
    margin: 0em;
    padding: 0em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lexend Deca", sans-serif;
    color: #1B1DE1;
    font-weight: 100 !important;
    letter-spacing: 00.03125em;
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: rgb(50, 50, 50);
    font-weight: 100 !important;
    letter-spacing: 0.03125em;
}

/* Navigation */
.navHeader {
    display: cover;
    background-color: white !important;
    z-index: 100;
}

.customNavbar {
    background-color: white;
    box-shadow: 0em 0em .5em 0em rgba(0, 0, 0, 0.1), 0em 0em 2.5em 0em rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #1B1DE1 !important;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1em !important;
}

.navbar-brand {
    max-width: 15em;
    cursor: pointer;
}

/* Welcome Banner */
.welcomeBanner {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: hsla(240, 100%, 25%, 0.486) !important;
    justify-content: center;
}

.bannerBody {
    width: 100%;
    margin: 8em 0em 1em 0em !important;
}

.bannerText h1 {
    width: auto;
    color: white;
    margin-top: 2%;
    margin-left: 7%;
}

.bannerImage {
    width: auto;
}

/* Student Progress Section */
.studentSection {
    margin-top: 3em;
    margin-right: 7%;
    margin-bottom: 3em;
    margin-left: 7%;
}

.studentHeader {
    padding: 0em 0em 2em 0em;
    max-width: 231px;
}

.studentHeader h2 {
    max-width: 100%;
}

/* Add Student Button */
.addStudent-button {
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: green !important;
    padding: .65em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: green !important;
}

.addStudent-button:hover {
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .65em 0em 0em 0em !important;
    background-color: green !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: green !important;
}

/* Student Section */
.studentGroup {
    padding: 0px !important;
    float: left !important;
}

.studentWrap {
    padding: 0px !important;
    width: 100%;
    max-width: 15em;
    margin-bottom: 2em;
    display: inline-flex;
}

.studentCard {
    align-items: center;
    max-width: 15em;
    margin-left: auto !important;
    margin-right: auto !important;
}

.studentCard img {
    width: 15em;
    padding: 2em .5em 2em .5em;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(50, 50, 50);
    margin: 0em 0em 1em 0em;
}

.studentButtonRow {
    max-height: 5em;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    padding: 0em 0em 0em .125em !important;
}

/* Add Goal Button */
.addGoal-button {
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: green !important;
    padding: .65em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: green !important;
}

.addGoal-button:hover {
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .65em 0em 0em 0em !important;
    background-color: green !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: green !important;
}

/* View Student Button */
.viewStudent-button {
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: orange !important;
    padding: .65em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: orange !important;
}

.viewStudent-button:hover {
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .65em 0em 0em 0em !important;
    background-color: orange !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: orange !important;
} 

/* Progress Section */
.progressWrap {
    padding: 0px !important;
    margin-top: 40px;
    max-width: 25em;
    display: inline-flex;
}

.progressGroup h5 {
    text-align: center;
}

.progressCard {
    align-items: center;
    max-width: 20em;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 2em;
}

/* Progress Bar */
.progress-bar-vertical {
    width: 17.5em;
    min-height: 27em;
    display: flex;
    align-items: flex-end;
    padding: 0px;
    margin-bottom: 1em;
    border-radius: 10px !important;
}
  
.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    height: 20%;
}

.progress-math {
    background-color: blue;
    height: 50%;
}

.progress-reading {
    background-color: red;
}

.progress-writing {
    background-color: purple;
}

/* Add Minus View Button Row */
.progressButtonRow {
    max-height: 5em;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    padding: 0em !important;
}

/* Minus Button */
.minus-button {
    margin: 0em .25em 0em .25em;
    width: 3em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-size: .85em !important;
    color: red !important;
    padding: .65em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: red !important;
}

.minus-button:hover {
    margin: 0em .25em 0em .25em;
    width: 3em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-size: .85em !important;
    color: white !important;
    padding: .65em 0em 0em 0em !important;
    background-color: red !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: red !important;
}

/* Add Button */
.add-button {
    margin: 0em .25em 0em .25em;
    width: 3em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-size: .85em !important;
    color: green !important;
    padding: .65em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: green !important;
}

.add-button:hover {
    margin: 0em .25em 0em .25em;
    width: 3em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-size: .85em !important;
    color: white !important;
    padding: .65em 0em 0em 0em !important;
    background-color: green !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: green !important;
}

/* View Goal Button */
.viewGoal-button {
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: orange !important;
    padding: .65em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: orange !important;
}

.viewGoal-button:hover {
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .65em 0em 0em 0em !important;
    background-color: orange !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: orange !important;
}

/* Badges Section */
.badgesSection {
    width: auto;
    margin-top: 3em;
    margin-right: 7%;
    margin-bottom: 3em;
    margin-left: 7%;
}

.badgesSection h4 {
    padding: 0em 0em 2em 0em;
}

.badgesDeck {
    width: 100%;
    align-items: center;
}

.badgesCard {
    border: none !important;
}

.badgesCard img {
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
    max-width: 6em;
    padding: .025em;
  }

.badgesCard p {
    text-align: center;
}

/* Rewards Section */
.rewardsSection {
    width: auto;
    margin-top: 3em;
    margin-right: 7%;
    margin-bottom: 3em;
    margin-left: 7%;
}

.rewardsSection h4 {
    padding: 0em 0em 2em 0em;
}

.rewardsDeck {
    width: 100%;
}

.rewardsSection p {
    padding: .75em 0em 0em .75em;
}

.viewPastGoal-button {
    float: right !important;
    display: block;
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: orange !important;
    padding: .65em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: orange !important;
}

.viewPastGoal-button:hover {
    float: right !important;
    display: block;
    margin: 0em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .65em 0em 0em 0em !important;
    background-color: orange !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: orange !important;
}

/* Footer */
.list-unstyled img {
    max-width: 2em;
}
