/* Body */
body {
    margin: 0em;
    padding: 0em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lexend Deca", sans-serif;
    color: #1B1DE1;
    font-weight: 100 !important;
    letter-spacing: 00.03125em;
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: rgb(50, 50, 50);
    font-weight: 100 !important;
    letter-spacing: 0.03125em;
}

/* Navigation */
.navHeader {
    display: cover;
    background-color: white !important;
    z-index: 100;
}

.customNavbar {
    background-color: white;
    box-shadow: 0em 0em .5em 0em rgba(0, 0, 0, 0.1), 0em 0em 2.5em 0em rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #1B1DE1 !important;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1em !important;
}

.navbar-brand {
    max-width: 15em;
    cursor: pointer;
}

/* Welcome Banner */
.welcomeBanner {
    width: 100%;
    background-image: url(../images/Welcome\ Banner\ Background.png);
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: hsla(240, 100%, 25%, 0.486) !important;
    justify-content: center;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerBody {
    width: 100%;
    margin: 10em 0em 3em 0em !important;
}

.bannerText h1 {
    width: auto;
    color: white;
    margin-top: 2%;
    margin-left: 7%;
}

.bannerImage {
    width: auto;
}

/* Student Progress Section */
.studentSection {
    margin-top: 3em;
    margin-right: 7%;
    margin-bottom: 3em;
    margin-left: 7%;
}

.studentHeader {
    padding: 0em 0em 2em 0em;
    max-width: 231px;
}

.studentHeader h2 {
    max-width: 100%;
}

/* Add Student Button */
.addStudent-button {
    margin: 0em .125em 0em .125em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: #3CA037 !important;
    padding: .65em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #3CA037 !important;
}

.addStudent-button:hover {
    margin: 0em .125em 0em .125em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .65em 0em 0em 0em !important;
    background-color: #3CA037 !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #3CA037 !important;
}

/* Student Section */
.studentGroup {
    padding: 0px !important;
}

.studentWrap {
    padding: 0px !important;
    width: 100%;
    max-width: 15em;
    margin-bottom: 2em;
    display: inline-flex;
}

.studentName {
    text-align: left;
}

.studentName h3 {
    margin: 0em 0em .5em .2em !important;
    float: left;
}

.editAvatar-button {
    background-color: transparent;
    color: rgb(50, 50, 50);
    padding: .5em .5em;
    cursor: pointer;
    transition: transform .2s; 
    float: right;
}

.editAvatar-button:hover {
    transform: scale(1.5);
}  

.studentCard {
    align-items: center;
    max-width: 20em;
    margin-left: auto !important;
    margin-right: auto !important;
}

.studentCard img {
    width: 15em;
    padding: 2em .5em 2em .5em;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 4px;
    margin: 0em 0em 1em 0em;
    width: 100%;
    height: auto;
}

.studentButtonRow {
    max-height: 5em;
    min-width: 225px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    padding: 0px !important;
}

/* Add Goal Button */
.addGoal-button {
    margin: 0em 0em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: #3CA037 !important;
    padding: .2em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #3CA037 !important;
}

.addGoal-button:hover {
    margin: 0em 0em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .2em 0em 0em 0em !important;
    background-color: #3CA037 !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #3CA037 !important;
}

/* Add Goal Modal */
.modal {
    background-color: transparent;
    font-family: "Lexend Deca", sans-serif;
}

.badges {
    max-width: 100%;
}

.thumbnail {
    border: 5px solid transparent;
}

/* Close Button */
.close-button {
    margin: 0em .125em 0em 0em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: rgb(50, 50, 50) !important;
    padding: .2em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: rgb(50, 50, 50) !important;
}

.close-button:hover {
    margin: 0em .125em 0em 0em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .2em 0em 0em 0em !important;
    background-color: rgb(50, 50, 50) !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: rgb(50, 50, 50) !important;
} 

/* Complete Button */
.complete-button {
    margin: 0em 0em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: #3CA037 !important;
    padding: .2em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #3CA037 !important;
}

.complete-button:hover {
    margin: 0em 0em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .2em 0em 0em 0em !important;
    background-color: #3CA037 !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #3CA037 !important;
} 

/* View Student Accordian */
.viewStudent-button {
    margin: 0em .25em 0em 0em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: #FA850C !important;
    padding: .2em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #FA850C !important;
}

.viewStudent-button:hover {
    margin: 0em .25em 0em 0em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .2em 0em 0em 0em !important;
    background-color: #FA850C !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #FA850C !important;
} 

/* Progress Section */
.progressWrap {
    padding: 0px !important;
    margin: 2.5em .3125em .3125em 0em;
    display: inline-flex;
}

.progressGroup h5 {
    text-align: center;
}

.progressCard {
    align-items: center;
    max-width: 20em;
    min-width: 170px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 2em;
}

/* Progress Bar */
.progress {
    margin: 0px 15px;
}

.progress-bar-vertical {
    min-height: 27em;
    align-items: flex-end;
    padding: 0px;
    margin-bottom: 1em;
    border-radius: 10px !important;
}
  
.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    height: 20%;
}

.progress-math {
    background-color: #ADE1FE;
    height: 50%;
}

.progress-reading {
    background-color: #ADE1FE;
}

.progress-writing {
    background-color: #ADE1FE;
}

/* Add Minus View Button Row */
.progressButtonRow {
    max-height: 5em;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px 0px 0px 11px;
    text-align: center;
}

/* Minus Button */
.minus-button {
    margin: 0em .25em 0em 0em;
    width: 2em;
    height: 2em;
    font-family: "Lexend Deca", sans-serif;
    font-size: .85em !important;
    color: red !important;
    padding: .15em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 8px !important;
    border-color: red !important;
}

.minus-button:hover {
    margin: 0em .25em 0em 0em;
    width: 2em;
    height: 2em;
    font-family: "Lexend Deca", sans-serif;
    font-size: .85em !important;
    color: white !important;
    padding: .15em 0em 0em 0em !important;
    background-color: red !important;
    border: 2px solid !important;
    border-radius: 8px !important;
    border-color: red !important;
}

/* Add Button */
.add-button {
    margin: 0em 0em 0em .25em;
    width: 2em;
    height: 2em;
    font-family: "Lexend Deca", sans-serif;
    font-size: .85em !important;
    color: #3CA037 !important;
    padding: .15em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 8px !important;
    border-color: #3CA037 !important;
}

.add-button:hover {
    margin: 0em 0em 0em .25em;
    width: 2em;
    height: 2em;
    font-family: "Lexend Deca", sans-serif;
    font-size: .85em !important;
    color: white !important;
    padding: .15em 0em 0em 0em !important;
    background-color: #3CA037 !important;
    border: 2px solid !important;
    border-radius: 8px !important;
    border-color: #3CA037 !important;
}

/* View Goal Button */
.viewGoal-button {
    margin: 0em .25em 0em .25em;
    width: 78px;
    height: 2em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: orange !important;
    padding: .15em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 8px !important;
    border-color: orange !important;
}

.viewGoal-button:hover {
    margin: 0em .25em 0em .25em;
    width: 78px;
    height: 2em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .15em 0em 0em 0em !important;
    background-color: #FA850C !important;
    border: 2px solid !important;
    border-radius: 8px !important;
    border-color: #FA850C !important;
}

/* Badges Section */
.badgesSection {
    width: auto;
    margin-top: 0em;
    margin-right: 7%;
    margin-bottom: 3em;
    margin-left: 7%;
}

.badgesSection h4 {
    padding: 0em 0em 2em 0em;
}

.badgesDeck {
    width: 100%;
    align-items: center;
}

.badgesCard {
    border: none !important;
}

.badgesCard img {
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
    max-width: 6em;
    padding: .025em;
    background-color: #fafafa;
    border: 2px solid white;
    border-radius: 20em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.badgesCard p {
    text-align: center;
}

/* Rewards Section */
.rewardsSection {
    width: auto;
    margin-top: 3em;
    margin-right: 7%;
    margin-bottom: 3em;
    margin-left: 7%;
}

.rewardsSection h4 {
    padding: 0em 0em 2em 0em;
}

.rewardsDeck {
    width: 100%;
}

.rewardsCard {
    border: 2px solid rgba(0,0,0,.125);
    padding: .5em;
}

.checkboxRow {
    padding: 1em 1em 1em 1em;
    margin: .5em 0em .5em 0em;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 4px;
}

.checkboxBox {
    display: inline-flex;
    max-width: 350px;
}

.custom-checkbox {
    margin: 0;
    top: 20%;
    display: inline-block;
}

.custom-control-label:before {
    background-color:#e9ecef;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color:green;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  }

.custom-checkbox label {
    font-family: "Lexend Deca", sans-serif;
    color: rgb(50, 50, 50);
    font-weight: 100 !important;
    letter-spacing: 0.03125em;
}

.pastGoalButtonBox {
    float: right !important;
}

.viewPastGoal-button {
    margin: .5em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: #FA850C !important;
    padding: .65em 0em 0em 0em !important;
    background-color: white !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #FA850C !important;
}

.viewPastGoal-button:hover {
    margin: .5em .25em 0em .25em;
    width: 8em;
    height: 3em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100 !important;
    font-size: .85em !important;
    color: white !important;
    padding: .65em 0em 0em 0em !important;
    background-color: #FA850C !important;
    border: 2px solid !important;
    border-radius: 10px !important;
    border-color: #FA850C !important;
}

/* Footer */
.list-unstyled img {
    max-width: 2em;
}

.footerLinks h6 {
    padding-top: 1.25em;
}

/* Media Queries */
@media only screen and (max-width:991px){
    .studentWrap {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }     
}